.page5 {
	position: relative;
	background-color: #0098cf;
	.bg {
		@include bgc('../image/page6/bg7.png', 594);
		@include size(594, 493);
		bottom: p2v(300);
	}
	.bear {
		@include bgc('../image/page6/rider2.png', 230);
		@include size(230, 390);
		bottom: p2v(175);
		z-index: 1;
		.smoke {
			@include bgc('../image/page6/shadow.png', 114);
			@include size(114, 26);
			bottom: 0;
		}
	}
	.sphere {
		@include bg('../image/page6/sphere5.png');
		@include size(640, 356);
		bottom: 0;
	}
	.cloud {
		@include bgc('../image/page6/weather-cloud.png', 432);
		@include size(432, 160);
		bottom: p2v(175+390+80);
	}

	.bg {
		opacity: 0;
		transform-origin: 50% 200%;
	}
	.bear {
		opacity: 0;
	}
	.cloud {
		.snow {
			@include bg('../image/page6/snow-piece.png');
			@include size(32, 32);
			bottom: 0;
			opacity: 0;
		}
		.snow:nth-child(2) {
			left: p2v(32 * 2);
		}
		.snow:nth-child(3) {
			left: p2v(32 * 3);
		}
		.snow:nth-child(4) {
			left: p2v(32 * 4);
		}
		.snow:nth-child(5) {
			left: p2v(32 * 5);
		}
		.snow:nth-child(6) {
			left: p2v(32 * 6);
		}
		.snow:nth-child(7) {
			right: p2v(32 * 2);
		}
		.snow:nth-child(8) {
			right: p2v(32 * 3);
		}
		.snow:nth-child(9) {
			right: p2v(32 * 4);
		}
		.snow:nth-child(10) {
			right: p2v(32 * 5);
		}
		.snow:nth-child(11) {
			right: p2v(32 * 6);
		}
	}
	.smoke {
		opacity: 0;
	}
}

.page5.animate {
	.bg {
		animation: rotateInNotOut 0.5s forwards;
	}
	.bear {
		animation: bearDown 0.5s 0.5s forwards, upandDown 0.5s 1s infinite;
	}
	.smoke {
		animation: small2big 0.5s 1s infinite;
	}
	.cloud {
		animation: small2big2small 0.5s 1s forwards, runUpDownLeftRight 3s 1.5s infinite;
		.snow:nth-child(1) {
			animation: snowLeft 1.5s 1.5s infinite;
		}
		.snow:nth-child(2) {
			animation: snowRight 1.3s 1.5s infinite;
		}
		.snow:nth-child(3) {
			animation: snowLeft 1.5s 1.5s infinite;
		}
		.snow:nth-child(4) {
			animation: snowRight 2s 1.5s infinite;
		}
		.snow:nth-child(5) {
			animation: snowLeft 1.8s 1.5s infinite;
		}
		.snow:nth-child(6) {
			animation: snowRight 1.6s 1.5s infinite;
		}
		.snow:nth-child(7) {
			animation: snowLeft 1.2s 1.5s infinite;
		}
		.snow:nth-child(8) {
			animation: snowRight 1.1s 1.5s infinite;
		}
		.snow:nth-child(9) {
			animation: snowLeft 1s 1.5s infinite;
		}
		.snow:nth-child(10) {
			animation: snowRight 0.8s 1.5s infinite;
		}
		.snow:nth-child(11) {
			animation: snowLeft 0.6s 1.5s infinite;
		}
	}
}

@keyframes snowLeft {
	from {
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateY(1000%) translateX(-200%);
		opacity: 1;
	}
}

@keyframes snowRight {
	from {
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateY(1000%) translateX(200%);
		opacity: 1;
	}
}
