.welcome {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	background-color: deepskyblue;
	.info {
		width: p2v(397);
		height: p2v(224);
		background: url('../image/page1/theme-title.png') no-repeat center / 100% 100%;
		position: absolute;
		top: p2v(42);
		left: 50%;
		margin-left: p2v(-397/2);
		.hello {
			width: p2v(70);
			height: p2v(75);
			background: url('../image/page1/hello.png') no-repeat center / 100% 100%;
			position: absolute;
			top: p2v(20);
			right: p2v(8);
		}
	}
	.bear-box {
		width: p2v(167);
		height: p2v(279);
		position: absolute;
		bottom: p2v(346);
		left: 50%;
		margin-left: p2v(-167/2);
		.bear {
			width: 100%;
			height: 100%;
			background: url('../image/page1/rider2.png') no-repeat center / 100% 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.smoke {
			width: p2v(167);
			height: p2v(32);
			background: url('../image/page1/jet1.png') no-repeat center / 100% 100%;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	.cloud {
		width: p2v(640);
		height: p2v(673);
		position: absolute;
		bottom: 0;
		background: url('../image/page1/clouds.png') no-repeat center / 100% 100%;
	}
	.grass1 {
		width: p2v(640);
		height: p2v(396);
		position: absolute;
		bottom: 0;
		background: url('../image/page1/grass1.png') no-repeat center / 100% 100%;
	}
	.trees {
		width: p2v(599);
		height: p2v(71);
		position: absolute;
		bottom: p2v(352);
		background: url('../image/page1/trees.png') no-repeat center / 100% 100%;
	}
	.grass2 {
		width: p2v(640);
		height: p2v(228);
		position: absolute;
		bottom: 0;
		background: url('../image/page1/grass2.png') no-repeat center / 100% 100%;
	}
	.rotate-btn-box {
		width: p2v(208);
		height: p2v(208);
		position: absolute;
		bottom: p2v(86);
		left: 50%;
		margin-left: p2v(-208/2);
		display: flex;
		justify-content: center;
		align-items: center;
		.btn {
			width: p2v(124);
			height: p2v(113);
			background: url('../image/page1/bear-btn-aft.png') no-repeat center / 100% 100%;
		}
		.circle1 {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: url('../image/page1/circle1.png') no-repeat center / 100% 100%;
		}
		.circle2 {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: url('../image/page1/circle2.png') no-repeat center / 100% 100%;
		}
	}

	.grass1 {
		height: p2v(20);
	}
	.grass2 {
		opacity: 0;
	}
	.trees {
		opacity: 0;
	}
	.rotate-btn-box {
		opacity: 0;
		transform: scale(0, 0);
	}
	.bear-box {
		opacity: 0;
	}
	.smoke {
		opacity: 0;
	}
	.info {
		opacity: 0;
	}
	.hello {
		opacity: 0;
	}
}

.welcome.animate {
	.grass1 {
		animation: grass1 0.5s forwards;
	}
	.grass2 {
		animation: grass2 0.5s 0.5s forwards;
	}
	.trees {
		animation: trees 0.5s 1s forwards;
	}
	.rotate-btn-box {
		animation: btnAppear 0.5s 1.5s forwards;
	}
	.circle2 {
		animation: rotate 1s infinite linear;
	}
	.bear-box {
		animation: bearDown 0.5s 2s forwards;
	}
	.bear {
		animation: upandDown 0.5s 2.5s infinite;
	}
	.smoke {
		animation: small2big 0.5s 2.5s infinite;
	}
	.info {
		animation: bearDown 0.5s 3s forwards;
	}
	.hello {
		animation: small2big 0.5s 3.5s forwards;
	}
}
@keyframes grass1 {
	from {
	}
	to {
		height: p2v(396);
	}
}
@keyframes grass2 {
	from {
		transform: scale(2, 1);
	}
	to {
		opacity: 1;
	}
}
@keyframes trees {
	from {
		transform: translateY(-200%);
	}
	80% {
		transform: translateY(10%);
		opacity: 1;
	}
	90% {
		transform: translateY(-10%);
		opacity: 1;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
@keyframes btnAppear {
	from {
	}
	to {
		opacity: 1;
		transform: none;
	}
}
@keyframes rotate {
	from {
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes bearDown {
	from {
		transform: translateY(-50%);
	}
	to {
		transform: none;
		opacity: 1;
	}
}
@keyframes upandDown {
	from {
		transform: translateY(-5%);
	}
	to {
		transform: none;
	}
}
@keyframes small2big {
	from {
		transform: scale(0, 0);
	}
	to {
		transform: none;
		opacity: 1;
	}
}

@keyframes bearDisappear {
	from {
		opacity: 1;
	}
	to {
		transform: translateY(100%) scale(1.5, 1.5);
		opacity: 0;
	}
}
