.loading {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 3;
	background-color: #ffece9;
	.rider {
		width: (154/640) * 100vw;
		height: (121/640) * 100vw;
		background: url('../image/loading/rider1_.png') no-repeat center / 100% 100%;
		position: absolute;
		top: (233/640) * 100vw;
		right: (108/640) * 100vw;
	}
	.progress {
		width: (416/640) * 100vw;
		height: (20/640) * 100vw;
		border: 2px solid #373838;
		border-radius: (20/640) * 100vw;
		position: absolute;
		left: 50%;
		margin-left: (-416/640/2) * 100vw;
		top: p2v(360);
		background-color: transparent;
		.step {
			height: 100%;
			width: 20%;
			background-color: #ff2947;
			right: 0;
			position: absolute;
		}
	}
	.info {
		width: p2v(220);
		height: p2v(28);
		background: url('../image/loading/loading-txt.png') no-repeat center / 100% 100%;
		position: absolute;
		left: 50%;
		margin-left: p2v(-220/2);
		top: p2v(420);
	}
	.logo {
		width: p2v(162);
		height: p2v(39);
		background: url('../image/loading/waimai-logo.png') no-repeat center / 100% 100%;
		position: absolute;
		bottom: p2v(118);
		left: 50%;
		margin-left: p2v(-162/2);
	}
	.copyright {
		font-size: p2v(24);
		color: #e0979d;
		position: absolute;
		bottom: p2v(73);
		width: 100%;
		text-align: center;
	}
}

// 触发动画
.loading.animate {
	.step {
		animation: steps 1s linear 0.5s forwards;
	}
	.rider {
		animation: bearRide 1s linear 0.5s forwards;
	}
}

// 进度条动画
@keyframes steps {
	to {
		width: 100%;
	}
}

// 熊开车动画
@keyframes bearRide {
	10% {
		transform: translateX(p2v(-26 * 1)) translateY(p2v(-10));
	}
	20% {
		transform: translateX(p2v(-26 * 2)) translateY(p2v(10));
	}
	30% {
		transform: translateX(p2v(-26 * 3)) translateY(p2v(-10));
	}
	40% {
		transform: translateX(p2v(-26 * 4)) translateY(p2v(10));
	}
	50% {
		transform: translateX(p2v(-26 * 5)) translateY(p2v(-10));
	}
	60% {
		transform: translateX(p2v(-26 * 6)) translateY(p2v(10));
	}
	70% {
		transform: translateX(p2v(-26 * 7)) translateY(p2v(-10));
	}
	80% {
		transform: translateX(p2v(-26 * 8)) translateY(p2v(10));
	}
	90% {
		transform: translateX(p2v(-26 * 9)) translateY(p2v(-10));
	}
	100% {
		transform: translateX(p2v(-26 * 10)) translateY(p2v(10));
	}
}
