@import './css/normalize.scss';
@import './css/base.scss';

.swiper-container {
	height: 100%;
	width: 100%;
	// height: 100vh;
}

.swiper-slide {
	box-sizing: border-box;
	border: 10px solid hotpink;
}

.loading {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	background-color: lightseagreen;
}

.welcome {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
	background-color: limegreen;
}
