@import './css/normalize.scss';
@import './css/base.scss';

@function p2v($size) {
	@return ($size/640) * 100vw;
}

@mixin bgc($url, $width) {
	background: url($url) no-repeat center / 100% 100%;
	position: absolute;
	left: 50%;
	margin-left: p2v(-$width/2);
}

html,
body {
	height: 100%;
}
.swiper-container {
	height: 100%;
}
.swiper-slide {
	height: 100%;
	box-sizing: border-box;
	border: 1px solid hotpink;
}

.loading {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	background-color: #ffece9;
	.rider {
		width: (154/640) * 100vw;
		height: (121/640) * 100vw;
		background: url('./image/loading/rider1_.png') no-repeat center / 100% 100%;
		position: absolute;
		top: (233/640) * 100vw;
		right: (108/640) * 100vw;
	}
	.progress {
		width: (416/640) * 100vw;
		height: (20/640) * 100vw;
		background-color: #fc2e4d;
		border: 2px solid #373838;
		border-radius: (20/640) * 100vw;
		position: absolute;
		left: 50%;
		margin-left: (-416/640/2) * 100vw;
		top: p2v(360);
	}
	.info {
		width: p2v(220);
		height: p2v(28);
		background: url('./image/loading/loading-txt.png') no-repeat center / 100% 100%;
		position: absolute;
		left: 50%;
		margin-left: p2v(-220/2);
		top: p2v(420);
	}
	.logo {
		width: p2v(162);
		height: p2v(39);
		background: url('./image/loading/waimai-logo.png') no-repeat center / 100% 100%;
		position: absolute;
		bottom: p2v(118);
		left: 50%;
		margin-left: p2v(-162/2);
	}
	.copyright {
		font-size: p2v(24);
		color: #e0979d;
		position: absolute;
		bottom: p2v(73);
		width: 100%;
		text-align: center;
	}
}

.welcome {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
	background-color: deepskyblue;
	.info {
		width: p2v(397);
		height: p2v(224);
		background: url('./image/page1/theme-title.png') no-repeat center / 100% 100%;
		position: absolute;
		top: p2v(42);
		left: 50%;
		margin-left: p2v(-397/2);
		.hello {
			width: p2v(70);
			height: p2v(75);
			background: url('./image/page1/hello.png') no-repeat center / 100% 100%;
			position: absolute;
			top: p2v(20);
			right: p2v(8);
		}
	}
	.bear-box {
		width: p2v(167);
		height: p2v(279);
		position: absolute;
		bottom: p2v(346);
		left: 50%;
		margin-left: p2v(-167/2);
		.bear {
			width: 100%;
			height: 100%;
			background: url('./image/page1/rider2.png') no-repeat center / 100% 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.smoke {
			width: p2v(167);
			height: p2v(32);
			background: url('./image/page1/jet1.png') no-repeat center / 100% 100%;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	.cloud {
		width: p2v(640);
		height: p2v(673);
		position: absolute;
		bottom: 0;
		background: url('./image/page1/clouds.png') no-repeat center / 100% 100%;
	}
	.grass1 {
		width: p2v(640);
		height: p2v(396);
		position: absolute;
		bottom: 0;
		background: url('./image/page1/grass1.png') no-repeat center / 100% 100%;
	}
	.trees {
		width: p2v(599);
		height: p2v(71);
		position: absolute;
		bottom: p2v(352);
		background: url('./image/page1/trees.png') no-repeat center / 100% 100%;
	}
	.grass2 {
		width: p2v(640);
		height: p2v(228);
		position: absolute;
		bottom: 0;
		background: url('./image/page1/grass2.png') no-repeat center / 100% 100%;
	}
	.rotate-btn-box {
		width: p2v(208);
		height: p2v(208);
		position: absolute;
		bottom: p2v(86);
		left: 50%;
		margin-left: p2v(-208/2);
		display: flex;
		justify-content: center;
		align-items: center;
		.btn {
			width: p2v(124);
			height: p2v(113);
			background: url('./image/page1/bear-btn-aft.png') no-repeat center / 100% 100%;
		}
		.circle1 {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: url('./image/page1/circle1.png') no-repeat center / 100% 100%;
		}
		.circle2 {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: url('./image/page1/circle2.png') no-repeat center / 100% 100%;
		}
	}
}
